<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>dPLekha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" media="screen" href="main.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">



    <style>
        body{
            font-family: consolas;
            margin: 0;
        }
        nav{
            background: #3B5998;
            padding: 20px;
        }
        nav ul{
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }
        nav li{
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }
        nav a{
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }
        main, header{
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }
        .google-btn{
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            background: #ff5353;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <% if(user) { %>
                <li><a href="/logout"><button type="submit"> Logout</button></a></li>
                <li><a href="/profile/">Profile</a></li>
            <% } else { %>
                <li><a href="/login"><button> Login</button></a></li>
            <% } %>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to your dPLekha, <%= user.username %> </h1>
    </header>
    <main style="padding-left: 10px;" class="jumbotron jumbotron-fluid">
        <img style="margin: 20px;" src=<%= user.thumbnail %> alt="Add your image">
        <p>this is your DP </p>
        <p>extra information about you, id: <%= user.id %></p>
    </main>

    <!--
        BLOG FORM HERE 

    -->
    <form action="/profile/" method="post">
        
        <!-- TITLEEEEEEE -->
        <div class="container form">
            <h2>Shower thouhgts</h2>
            <div class="form-group input-group form-row">
                <div class="input-group-prepend col">
                    <label for="title" > Title</label>
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm" name="title">
                    </div>
                </div>
            </div>
            <div class="form-group form-row input-group">
                <div class="input-group-prepend col">
                    <label for="content"> Content</label>
                    <div class="col-5">
                        <input type="text" class="form-control" name="content">
                    </div>
                </div>
            </div>

            <div class="form-group form-row input-group">
                <div class="input-group-prepend col">
                    <label for="author"> Author </label>
                    <input type="text col-5" class="form-control form-control-sm" name="author">
                    <input class="form-control form-control-sm bg-success text-white" type="text" placeholder="By <%= user.username %>" readonly>
                </div>
            </div>
            <div class="clearfix">
                <button type="submit" class="btn btn-success btn-float-right btn-outline-info" > Submit </button>
            </div>
        </div>
    </form>
    </div>
    <div class="container">
        <h2>Posts</h2>
        <div class="card-deck" style="padding-block-start: 20em;">
        <% posts.forEach((POST) => { %>
            <div class= "card border-info mb-3" style="width: 18px;">
                <div class="card-body">
                    <h5 class="card-header text-danger border-success"><%= POST.title %></h5>
                    <p class="card-text text-dark text-center "><%= POST.content %></p>
                </div>
                <div class="card-footer text-success text-right"><small class="text-muted">written by </small> <%= POST.author %></div>

            </div>
            <% } ) %>
        </div>
    </div>
</body>
</html>